<template>
  <div class="about">
    <h1 class="text-center">Sobre este sistema</h1>

    <div class="row">
      <div class="col-sm-6">

        <h5 class="text-center">Tarea1</h5>

        <p>
          Universidad Politécnica Salesiana<br>
          Maestría en Software<br>
          Patrones de Diseño de Software
        </p>

        <b>Integrantes:</b>
        <ul>
          <li>Daniel Burbano</li>
          <li>José Castillo</li>
          <li>Klever Simaliza</li>
          <li>Carlos Párraga</li>
          <li>Manuel Gómez</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h4>Repositorio:</h4>
        <a href="https://gitlab.com/ups-maestria-grupo2/patrones-tarea1" target="_blank">
          https://gitlab.com/ups-maestria-grupo2/patrones-tarea1
        </a>



        <p class="mt-2">
          * Esta aplicación guarda los datos localmente en el navegador utilizando
          <a href="https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API" target="_blank">IndexedDB</a>
        </p>

      </div>
    </div>

    <table class="table">
      <tr class="text-center">
        <td class="text-center">Vue.js</td>
        <td class="text-center">Typescript</td>
        <td class="text-center">Webstorm</td>
      </tr>
      <tr class="text-center">
        <td>
          <img alt="Vue logo" src="../assets/logo.png" width="100">
        </td>
        <td>
          <img alt="Typescript logo"
               src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg" width="100">
        </td>
        <td>
          <img alt="Webstorm"
               src="https://blog.jetbrains.com/wp-content/uploads/2019/01/webstorm_icon.svg"
               width="100">
        </td>
      </tr>
    </table>

  </div>
</template>
