/* eslint-disable */
<template>
  <div class="container">
    <h3>Activos Fijos</h3>

    <div class="row">
      <div class="col-sm-4">
        <form action="">

          <div class="row mb-3">
            <label for="" class="col-sm-2 col-form-label">Codigo</label>
            <div class="col-sm-10">
              <input class="form-control" id="" placeholder="" v-model="obj.codigo">
            </div>
          </div>

          <div class="row mb-3">
            <label for="" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input class="form-control" id="" placeholder="" v-model="obj.nombres">
            </div>
          </div>

          <div class="row mb-3">
            <label for="" class="col-sm-2 col-form-label">Precio</label>
            <div class="col-sm-10">
              <input class="form-control numeric" id="" placeholder="" v-model="obj.precio">
            </div>
          </div>

          <hr>
          <h5>Opciones</h5>

          <table class="table table-condensed">
            <tbody>
            <tr>
              <td class="col-sm-6">
                <b>Custodio</b>
                <input class="form-control form-control-sm" id=""
                       :disabled="obj.sinCustodio"
                       v-model="obj.custodio">
              </td>
              <td class="col-sm-6">

                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" v-model="obj.sinCustodio">
                    <b>Sin Custodio</b>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-sm-6">
                <b>Fecha de compra</b>
                <input class="form-control form-control-sm datepicker" id=""
                       placeholder="yyyy-mm-dd"
                       :disabled="obj.compraHoy"
                       v-model="obj.fechaCompra">
              </td>
              <td class="col-sm-6">

                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" v-model="obj.compraHoy">
                    <b>Comprado hoy</b>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-sm-6" colspan="2">
                <b>Centro de Costo</b>
                <input class="form-control form-control-sm" id=""
                       v-model="obj.centroCosto">
              </td>
            </tr>
            <tr>
              <td class="col-sm-6" colspan="2">
                <b>Ubicacion</b>
                <input class="form-control form-control-sm" id=""
                       v-model="obj.ubicacion">
              </td>
            </tr>
            </tbody>
          </table>


          <button type="button" @click="guardar()" class="btn btn-primary">
            Guardar
          </button>

        </form>
      </div>
      <div class="col-sm-6">

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-list"
                    type="button" role="tab" aria-controls="pills-home"
                    aria-selected="true">Registros
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-code"
                    type="button" role="tab" aria-controls="pills-profile"
                    aria-selected="false">Codigo
            </button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <!--          LISTA-->
          <div class="tab-pane fade show active" id="pills-list" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            <table class="table table-bordered small table-condensed">
              <thead>
              <tr>
                <th colspan="4" class="text-center" style="font-size: small">Lista Registros</th>
              </tr>
              <tr>
                <th>Cod/Nombre</th>
                <th>Precio</th>
                <th>Otros</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(a, index) in lista" v-bind:key="index">
                <td>{{ a.codigo }} - {{ a.nombres }}</td>
                <td>{{ a.precio }}</td>
                <td>{{ a.display() }}</td>
                <td>
                  <button type="button" @click="eliminar(a)" title="Eliminar">
                    X
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="text-end">
              <button type="button" @click="limpiar()" class="btn btn-sm btn-secondary">
                Limpiar
              </button>
            </div>
          </div>
          <!--          CODIGO-->
          <div class="tab-pane fade" id="pills-code" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">

            <div>
              <highlightjs language='javascript' :code="code"/>
            </div>

          </div>
        </div>

        <hr>


      </div>
    </div>


  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import $ from 'jquery';
import 'jquery.alphanum'
import '@chenfengyuan/datepicker'
import {db} from "@/app/Storage";
import {ActivoFijo, DirectorActivos} from "@/app/Activos";
import {anios, formato} from "@/app/Utils";
import 'highlight.js/lib/common';
import hljsVuePlugin from "@highlightjs/vue-plugin";
import 'highlight.js/styles/stackoverflow-light.css'
import axios from "axios";

export default defineComponent({
  components: {
    highlightjs: hljsVuePlugin.component
  },
  // type inference enabled
  data() {
    const listaActivos: ActivoFijo[] = [];

    return {
      obj: {
        nombres: "",
        codigo: "",
        precio: null,

        custodio: "",
        sinCustodio: false,
        centroCosto: '',
        ubicacion: '',
        fechaCompra: '',
        compraHoy: false,
      },
      lista: listaActivos,
      code: ""
    }
  },
  watch: {
    'obj.sinCustodio': function (val: boolean) {
      if (val)
        this.obj.custodio = ""
    },
    'obj.compraHoy': function (val: boolean) {
      if (val) {
        let d = (new Date()).toISOString().split('T');
        this.obj.fechaCompra = d[0]
      }
    }
  },
  computed: {
    anios() {
      return anios()
    }
  },
  methods: {
    info(x: object) {
      console.log(x.constructor.name);
      console.log(x);
    },
    formato(x: number | null): string {
      return formato(x)
    },
    eliminar(a: ActivoFijo) {
      if (!a.id)
        return
      db.activos.delete(a.id).then(() => {
        this.refresh()
      })
    },
    guardar() {
      const o = this.obj
      const builder = DirectorActivos.construir(o.codigo ?? "", o.nombres ?? "", o.precio ?? 0)
      if (o.centroCosto)
        builder.conCentroCosto(o.centroCosto)
      if (o.custodio)
        builder.conCustodio(o.custodio)
      if (o.sinCustodio)
        builder.sinCustodio()
      if (o.fechaCompra)
        builder.conFechaCompra(new Date(o.fechaCompra))
      if (o.compraHoy)
        builder.compradoHoy()
      if (o.ubicacion)
        builder.conUbicacion(o.ubicacion)
      const activo = builder.getActivo()
      activo.id = db.newPK()

      db.activos.add(activo, activo.id).then(() => {
        this.refresh()
      })
    },

    refresh() {
      this.lista = []
      db.activos.toArray()
          .then(arr => {
            this.lista = arr.map(x => {
              const activo = new ActivoFijo(x.codigo, x.nombres, x.precio)
              activo.atributos = x.atributos
              activo.id = x.id
              return activo
            })
            this.$forceUpdate()
          })
    }
  },
  mounted() {
    $('.numeric').numeric()
    $('.integer').numeric('positiveInteger')

    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd'
    })

    axios.get('Activos.ts.code')
        .then(res => {
          this.code = res.data
        })
        .catch((err) => {
          console.log(err)
        })

    this.refresh()
  }
})
</script>
