<template>
  <div class="home">

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Patrones de diseño</h1>
      <h3>Actividad 01</h3>
      <p class="fs-5 text-muted">
        Aplicación de ejemplo para los patrones Factory Method y Builder realizada con Vue.js y Typescript
      </p>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center" v-for="(p,k) in menu" :key="k">
        <div class="card mb-4 rounded-3 shadow-sm" style="width:20rem;">
          <div class="card-header py-3">
            <h3 class="my-0 fw-normal text-center">{{ p.patron }}</h3>
          </div>
          <img :src="imagePath(p)" class="card-img-top" alt="" height="150">
          <div class="card-body">
            <h3 class="card-title pricing-card-title">{{ p.titulo }}</h3>
            <div>{{ p.desc }}</div>
            <br>
            <router-link :to="p.to" class="w-100 btn btn-lg btn-primary">Ver ejemplo</router-link>
          </div>
        </div>
      </div>
    </div>


    <!--    <HelloWorld msg="Welcome to Your Vue.js + TypeScript App"/>-->
  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component';
import HelloWorld from '@/components/HelloWorld.vue'; // @ is an alias to /src

const patrones = [
  {
    to: '/vehiculos',
    titulo: 'Vehiculos',
    patron: 'Factory',
    img: 'autos.jpg',
    desc: 'Implementación del patrón Factory en un ejemplo de jerarquia de vehículos'
  },
  {
    to: '/activos',
    titulo: 'Activos Fijos',
    patron: 'Builder',
    img: 'activos.jpg',
    desc: 'Implementación del patrón Builder en un ejemplo de creacion de activos fijos'
  },
]

@Options({
  components: {
    HelloWorld,
  },
  methods: {
    imagePath(p:any) {
      if (!p.img)
        return ''
      return require(`@/assets/${p.img}`);
    }
  },
  computed: {
    menu() {
      return patrones
    }
  },

})
export default class HomeView extends Vue {
}
</script>
