/* eslint-disable */
<template>
  <div class="container">
    <h3>Vehiculos</h3>

    <div class="row">
      <div class="col-sm-4">
        <form action="">

          <div class="row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label">Tipo</label>
            <div class="col-sm-10">
              <select class="form-select" v-model="obj.tipo">
                <option v-for="t in tipos" :value="t.key" :key="t.key">{{ t.label }}</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <label for="" class="col-sm-2 col-form-label">Marca</label>
            <div class="col-sm-10">
              <input class="form-control" id="" placeholder="" v-model="obj.marca">
            </div>
          </div>

          <div class="row mb-3">
            <label for="" class="col-sm-2 col-form-label">Modelo</label>
            <div class="col-sm-10">
              <input class="form-control" id="" placeholder="" v-model="obj.modelo">
            </div>
          </div>

          <div class="row mb-3">
            <label for="" class="col-sm-2 col-form-label">Anio</label>
            <div class="col-sm-10">
              <!--              <input class="form-control integer" id="" maxlength="4" v-model="obj.anio">-->
              <select class="form-select" v-model="obj.anio">
                <option v-for="(anio,ix) in anios" :value="anio" :key="ix">{{ anio }}</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <label for="" class="col-sm-2 col-form-label">Avaluo</label>
            <div class="col-sm-10">
              <input class="form-control numeric" id="" placeholder="" v-model="obj.avaluo">
            </div>
          </div>

          <hr>

          <button type="button" @click="guardar()" class="btn btn-primary">
            Guardar
          </button>

        </form>
      </div>
      <div class="col-sm-6">

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-list2"
                    type="button" role="tab" aria-controls="pills-home"
                    aria-selected="true">Registros
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-code2"
                    type="button" role="tab" aria-controls="pills-profile"
                    aria-selected="false">Codigo
            </button>
          </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
          <!--          LISTA-->
          <div class="tab-pane fade show active" id="pills-list2" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

            <table class="table table-bordered small table-condensed">
              <thead>
              <tr>
                <th colspan="6" class="text-center" style="font-size: small">Lista Registros</th>
              </tr>
              <tr>
                <th>Tipo</th>
                <th>Marca/Modelo</th>
                <th>Año</th>
                <th>Costo</th>
                <th>Matricula</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(a, index) in lista" v-bind:key="index">
                <td class="text-uppercase">{{ a.tipo }}</td>
                <td>{{ a.marca }} - {{ a.modelo }}</td>
                <td>{{ a.anio }}</td>
                <td>{{ formato(a.avaluo) }}</td>
                <td>${{ formato(a.calcularCostoMatricula()) }}</td>
                <td>
                  <button type="button" @click="eliminar(a)" title="Eliminar">
                    X
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="text-end">
              <button type="button" @click="limpiar()" class="btn btn-sm btn-secondary">
                Limpiar
              </button>
            </div>

          </div>

          <!--          CODIGO-->
          <div class="tab-pane fade" id="pills-code2" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">

            <div>
              <highlightjs language='javascript' :code="code"/>
            </div>

          </div>

        </div>


      </div>
    </div>


  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import $ from 'jquery';
import 'jquery.alphanum'
import {TiposVehiculo, Vehiculo, VehiculoFactoryImpl} from "@/app/Vehiculo";
import {db, VehiculoData} from "@/app/Storage";
import {anios, numero, entero, formato} from "@/app/Utils";
import 'highlight.js/lib/common';
import hljsVuePlugin from "@highlightjs/vue-plugin";
import 'highlight.js/styles/stackoverflow-light.css'
import axios from "axios";

export default defineComponent({
  components: {
    highlightjs: hljsVuePlugin.component
  },
  // type inference enabled
  data() {
    const listaAutos: VehiculoData[] = [];
    const anio = (new Date).getFullYear()

    return {
      obj: {
        tipo: "auto",
        marca: "",
        modelo: "",
        anio: anio,
        avaluo: null,
      },
      tipos: TiposVehiculo.tiposVista(),
      lista: listaAutos,
      code: ""
    }
  },
  computed: {
    anios() {
      return anios()
    }
  },
  methods: {
    formato(x: number | null): string {
      return formato(x)
    },
    eliminar(a: Vehiculo) {
      if (!a.id)
        return
      db.vehiculos.delete(a.id).then(() => {
        this.refresh()
      })
    },
    guardar() {
      const form = this.obj
      const factory = new VehiculoFactoryImpl()
      const auto = factory.crearVehiculo(form.tipo)
      auto.marca = form.marca
      auto.modelo = form.modelo
      auto.anio = entero(form.anio)
      auto.avaluo = numero(form.avaluo)
      auto.id = db.newPK()

      Reflect.set(auto, "tipo", form.tipo)

      db.vehiculos.add(auto, auto.id).then(() => {
        this.refresh()
      })
    },
    limpiar() {
      db.vehiculos.clear()
      this.lista = []
    },
    refresh() {
      const factory = new VehiculoFactoryImpl()
      this.lista = []
      db.vehiculos.toArray()
          .then(arr => {
            this.lista = arr.map(x => {
              const auto = factory.crearVehiculo(x.tipo ?? 'auto')
              auto.marca = x.marca
              auto.modelo = x.modelo
              auto.anio = x.anio
              auto.avaluo = x.avaluo
              auto.id = x.id
              Reflect.set(auto, 'tipo', x.tipo)
              return auto
            })
            this.$forceUpdate()
          })
    }
  },
  mounted() {
    this.obj.tipo = 'auto'
    $('.numeric').numeric()
    $('.integer').numeric('positiveInteger')

    //db.vehiculos.clear()

    axios.get('Vehiculo.ts.code')
        .then(res => {
          this.code = res.data
        })
        .catch((err) => {
          console.log(err)
        })

    this.refresh()
  }
})
</script>
