<template>
  <div class="container py-3">
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">

        <router-link to="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">Patrones de diseño - Act 01</span>
        </router-link>

        <!--        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">-->
        <!--          <span class="fs-4">Patrones de diseño</span>-->
        <!--        </a>-->

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <router-link to="/" class="me-3 py-2 text-dark text-decoration-none">Inicio</router-link>
          <router-link to="/activos" class="me-3 py-2 text-dark text-decoration-none">Activos</router-link>
          <router-link to="/vehiculos" class="me-3 py-2 text-dark text-decoration-none">Vehiculos</router-link>
          <router-link to="/about" class="me-3 py-2 text-dark text-decoration-none">Acerca de</router-link>
        </nav>
      </div>

      <!--      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">-->
      <!--        <h1 class="display-4 fw-normal">Pricing</h1>-->
      <!--        <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components-->
      <!--          and utilities with little customization.</p>-->
      <!--      </div>-->
    </header>

    <main>
      <router-view/>
    </main>
  </div>
</template>

<style lang="scss">
//#app {
//  font-family: Avenir, Helvetica, Arial, sans-serif;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//  text-align: center;
//  color: #2c3e50;
//}
//
//nav {
//  padding: 30px;
//
//  a {
//    font-weight: bold;
//    color: #2c3e50;
//
//    &.router-link-exact-active {
//      color: #42b983;
//    }
//  }
//}
</style>

<script>

import $ from 'jquery';
import {defineComponent} from "vue";

window.$ = $;
window.jQuery = $;

export default defineComponent({})

</script>
